


main {
    background-color: black;
    margin-top: -10%;
}


.intense {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-family: 'Futura LT', sans-serif;
    margin-left: 42.2%;
    margin-top: 10%;
    margin-bottom: 1%;
    padding: 10px;
}


.prestige {
    color: black;
    font-size: xx-large;
    font-family: 'Futura LT', sans-serif;
    margin-left: 41.6%;
    margin-top: 8%;
    margin-bottom: 5%;
}


.kiwi {
    margin-left: 8%;
}


.fraise {
    margin-left: 41.5%;
    margin-top: -25.5%;
}


.yuzu {
    margin-left: 75%;
    margin-top: -25.5%;
}


.hibiscus {
    margin-left: 8%;
    margin-top: 10%;
}


.chocolat {
    margin-left: 41.5%;
    margin-top: -25.8%;
}


.vanille {
    margin-left: 75%;
    margin-top: -25.5%;
}


.safran {
    margin-left: 41.9%;
    margin-bottom: 20%;
}

