body {
    background-color: black;
    color: white;
}

@font-face {
	font-family: "futura";
	src: url("../font/FUTURA55REGULAR.TTF");
  }

.concassage {
    display: inline-block;
    margin-left: 35%;
}

.lavage {
    display: inline-block;
    margin-left: 70%;
}