
li#reseau {
    display: inline-block;
}



footer {
    background-color: black;
    color: white;
}

*{

    box-sizing: border-box;
    padding: 0;
    margin:0 ;
    font-family:sans-serif;
    font-weight: 400;
    font-style: bold;

}


.foot1 {
    position: relative;
    max-height: 422px;
    max-width: 1920px;
    padding: 0px 0px 0px 0px;
    height: 249px;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}


#reseau {
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 394px;
    display: inline-block;
    background-color: white;
}

#pdufooter {
    color: white;
    margin: auto;
}

.partiedroite {
    margin :35px;
    font-size: 14px;

}

.partiegauche {
    margin-top: 50px;
    justify-content: flex-end;
    color: white;
    margin-right: 72px;
}

#rempla {
    font-size: 50px;
    color: white;
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: bold;
}

button {
    border-radius: 75px;
    height: 25%;
    width: 35%;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    font-family: roc-grotesk, sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 15px;
    text-decoration: none;
}


#mention {
    margin-top: 95px;
    font-size: 10px;
    color: white;
}

#imgfoot {
    height: 63px;
    width: auto;
}

#pbutton {
    text-decoration: none;
    margin: auto;
}