
footer {
    background-color: #333333;
    margin-top: -6%;
}


footer li {
    display: flex;
    text-decoration: none;
    color: white;
}


.fot_bieres {
    text-decoration: underline;
    margin-left: 20%;
    margin-top: 3%;
}


.fot_brasserie {
    margin-left: 20.7%;
}


.fot_fabrication {
    margin-left: 19.8%;
}


.fot_droits {
    text-decoration: underline;
    margin-left: 50%;
    margin-top: -14.7%;
}


.fot_cookies {
   margin-left: 43.9%;
   margin-top: -12.3%;
}


.fot_mentions {
    margin-left: 45.3%;
    margin-top: -10%;
}


.fot_confidentialite {
    margin-left: 45.8%;
    margin-top: -7.7%;
}


.fot_contact {
    text-decoration: underline;
    margin-left: 78%;
    margin-top: -14.8%;
}


.fot_instagram {
    margin-left: 78.6%;
    margin-top: -12%;
}


.insta_mayel {
    margin-left: 76.3%;
    margin-top: -4.4%;
}


.tous_droits {
    margin-left: 68.8%;
    margin-top: 2.5%;
}


.avertissement {
    margin-left: 19.5%;
    margin-top: 2%;
    padding: 2%;
}