header {
    background-color: black;
}


header li {
    display: inline-flex;
    text-decoration: none;
    color: white;
}


li img {
    height: 100px;
    width: auto;
}


a {
    text-decoration: none;
    color: white;
    font-family: 'Futura LT', sans-serif;
    font-size: x-large;
}


