* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
}

li a {
    display: flex;
    text-decoration: none;
    color: white;
}


li img {
    height: 100px;
    width: auto;
}